<div class="panel large-10">
  <h2>Questions!</h2>
  <% @questions.each do |question| %>
    <h4><%= link_to question.ask, question %></h4>
  <% end %>
  <%= link_to "New Question", new_question_path, :class => "button expand" %>
</div>